#ChooseGameTypeButtonContainer {
  margin: 5vh auto;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  font-size: 30px;
}

.ChooseGameTypeButton {
  font-size: 2vh;
  display: block;
  height: 100px;
  margin: 20px auto 0 auto;
  width: 60%;
  border-radius: 30px;
}

.BackgroundDiv {
  background-color: rgb(44,81,154);
  color: white;
  border: 1px solid white;
}

.LightDiv {
  background-color: white;
  color: rgb(44,81,154);
}

.GreyDiv {
  background-color: rgb(87,104,136);
}

.MediumDiv {
  background-color: rgb(35,50,82);
  color: white;
}

.DarkDiv {
  background-color: rgb(19,33,69);
  color: white;
}

.WhiteDiv {
  background-color: white;
  color: black
}

.ChooseGameTypeButton:focus {
  outline: 0;
}
::selection {
  color: white;
}
