#ChooseGameTypeButtonContainer {
  margin: auto;
  width: 90%;
  height: 15em;
  min-width: 200px;
  min-height: 300px;
  /* max-width: 00px; */
  text-align: center;
  font-size: 30px;
  display: flex;
}

.ChooseGameTypePanel {
  /* font-size: 2vh; */
  display: inline-block;
  margin: auto;
  width: 25%;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 5px;

}

.ChooseGameTypePanel:hover {
  border: 1px solid white;
}

.ChooseGameTypeHeader {
  height: 2em;
  font-size: 1em;
  border: 0px;
  min-width: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ChooseGameTypeBody {
  height: 15em;
  font-size: 0.6em;
  min-width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.BackgroundDiv {
  background-color: rgb(44,81,154);
  color: white;
}

.LightDiv {
  background-color: white;
  color: rgb(44,81,154);
}

.LightGreyDiv {
  background-color: lightgrey;
}

.GreyDiv {
  background-color: rgb(87,104,136);
}

.MediumDiv {
  background-color: rgb(35,50,82);
  color: white;
}

.DarkDiv {
  background-color: rgb(19,33,69);
  color: white;
}

.WhiteDiv {
  background-color: white;
  color: black
}

:focus {
  outline: 0;
}
