#ChooseGameTypeButtonContainer {
  margin: 5vh auto;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  font-size: 30px;
}

.ChooseGameTypeButton {
  font-size: 25px;
  display: block;
  height: 100px;
  margin: 20px auto 0 auto;
  width: 60%;
  background-color: rgb(128, 0, 0);
  color: white;
  border-width: 0px;
}

.ChooseGameTypeButton:focus {
  outline: 0;
}
::selection {
  color: white;
}
