#ChooseGameTypeButton {
  display: block;
  margin: 40px auto;
  width: 40%;
  border-color: white;
  background-color: black;
  color:white;
  height: 4vh;
  font-size: 1vh;
}

#ChooseGameTypeButton:hover {
  background-color: white;
  color:black;
}
