/* #ChooseGameTypePanel:hover {
  background-color: white;
  color:black;
  margin: auto;
} */

#SelectGameTypeAndPlayButton {
  margin: 1em auto;
  display: block;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  border: 0px;
}

#SelectGameTypeAndPlayButtonPlay {
  margin: 1em auto;
  display: block;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  border: 0px;
}

#SelectGameTypeAndPlayButtonPlay:hover {
  border: solid white 1px;
}

button:focus {
  outline: 0 !important;
}
