.ButtonBox{
  bottom: 100px;
  position: fixed;
  margin: auto;
  min-width: 400px;
  max-width: 600px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

#ActionButtonContainer {
  width: 100%;
}

.ActionButton {
  width: 20%;
  text-align: center;
  border-radius: 5px;
  border: solid white 1px;
  height: 3em;
  margin: 2px;
}
