.ButtonBox{
  bottom: 20px;
  position: fixed;
  margin: auto;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.RaiseButtonDiv {
  display: inline-block;
  position: fixed;
  right: 0px;
}

.CallButtonDiv {
  display: inline-block;
  position: absolute;
  /* margin: auto; */
  left: 50%;
  transform: translateX(-50%);
}

.FoldButtonDiv {
  display: inline-block;
  left: 0px;
}
