.ButtonBox{
  bottom: 10px;
  position: fixed;
  /* margin: auto; */
  min-width: 200px;
  max-width: 500px;
  width: 50%;
  right: 0px;
  /* transform: translateX(-30%); */
}

#ActionButtonContainer {
  width: 100%;
}

#RaiseInputsContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ActionButton {
  width: 30%;
  text-align: center;
  border-radius: 5px;
  border: solid white 1px;
  height: 3em;
  margin: 4px 8px 0px 0px;
  cursor: pointer;
}
