#DefeatBanner {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 5px;
  background-color: maroon;
  color: white;
}

#DefeatBannerHeader {
  margin-top: 10px;
}

#DefeatButton {
  width:100px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: maroon;
  color: white;
}

#DefeatButton:hover {
  background-color: white;
  color: black;
}
