#VictoryBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(44,81,154);
  color: white;
}

#VictoryBannerHeader {
  margin-top: 10px;
}

#VictoryButton {
  width:100px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(44,81,154);
  color: white;
}

#VictoryButton:hover {
  background-color: white;
  color: black;
}
