.MatchResultPlayerListingContainer {
  width: 30%;
  height: 3em;
  top: 0px;
  margin: auto;
}

.MatchResultPlayerListing {
  width: 40%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  height:4em;
  border: solid black 1px;
  position: absolute;
  top:0px;
  color: black;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.MatchResultPlayerListingPlayerName {
  margin: auto;
  text-align: center;
}

.WinCrown {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -30px;
  left: 13%;
}
