.VersusResult{
  width: 50%;
  height: 5em;
  margin: 40px auto;
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  color: white;
  position: relative;

}

.parent { overflow: hidden; }
