#CustomListingHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 5px;
  height: 1em;
  min-height: 40px;
  font-size: 1.1em;
  border-radius: 10px;
  background-color: rgb(44,81,154, 0.4);
}

.CustomListingInfo{
  text-align: center;
}

.CustomListingOwnerName {
  width: 30%;
}

.CustomListingName{
  width: 35%;
}

.CustomListingNumPlayers{
  width: 20%;
}
