#CustomListingsContainer {
  height: 80%;
  width: 60%;
  margin: 2% auto;
  font-size: 1.5em;
  color: white;
  border-color: white;
  border-width: 3px;
  border: solid;
}

#CustomListings {
  height: 80%;
  overflow-y: scroll;
  font-size: 4em;
  border: 2px solid black;
}
