.CustomListingInfo{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.CustomListing{
  display: flex;
  border: 2px solid black;
  /* height: 30px; */
  margin-top: 5px;
  padding: 5px;
}

.JoinMatchButton {
  /* position: absolute;
  right: 40px; */
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;

}

.CustomListingOwnerName {
  width: 250px;
  text-align: center;
}

.CustomListingName{
  width: 250px;
  text-align: center;
}

.CustomListingNumPlayers{
  width: 250px;
  text-align: center;
}
