.CustomListing{
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid grey; */
  padding: 5px;
  height: 0.3em;
  min-height: 40px;
  font-size: 1em;
  background-color: rgb(255,255,255,0.1);
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.CustomListing:hover {
  background-color: rgb(255,255,255,0.4);
}

.SelectedCustomListing{
  background-color: rgb(19,33,69,0.5) !important;
}
