#BeginMatchButton {
  margin: 100px auto;
  display: block;
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  border: 0px;
}

#BeginMatchButton:hover {
  border: solid white 1px;
}
