.CustomMatchPlayerListingContainer {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0px;
  text-align: center;
  height:2.4em;
  border: solid black 1px;
  color: black;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  border-radius: 10px;
}


.CustomMatchPlayerListingText {
  margin: auto;
  text-align: center;
}
