#TeamsContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  height: 50vh;
  font-size: 30px;
  text-align: center;
  color: white;
  min-width: 600px;
}

.TeamContainer {
  margin-top: 10vh;
  width: 40%;
  /* margin: 10vh auto; */
  height: 40vh;
}
