.RankingHeader {
  /* Affects both Individual and school headers */
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 5px;
  height: 3em;
  min-height: 40px;
  font-size: 1.4em;
}

.PlayerRankingInfo{
  margin-right: 30px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  /* line-height: 1em; */
}


.PlayerRankingPlace{
  width: 15%;
}

.PlayerRankingName{
  width: 25%;
}

.PlayerRankingSchool{
  width: 65%;
}

.PlayerRankingRanking{
  width: 20%;
}
