#LadderListingsContainer {
  height: 86vh;
  width: 70%;
  margin: auto;
  font-size: 3vh;
  color: white;
  border-color: white;
  border-width: 3px;
  border: solid;
}

#LadderListings {
  height: 75vh;
  overflow-y: scroll;
  font-size: 2vh;
  border: 2px solid black;
}
