.PlayerRankingInfo{
  margin-right: 50px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  line-height: 5vh;
}

.PlayerRankingPlace{
  width: 10%;
  font-size: 2.5vh;
}

.PlayerRankingName{
  width: 25%;
}

.PlayerRankingSchool{
  width: 40%;
}

.PlayerRankingRanking{
  width: 20%;
}

.RankingItem {
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  height: 6vh;
}
