.PlayerRankingInfo{
  margin-right: 50px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
}

.PlayerRankingPlace{
  width: 10%;
}

.PlayerRankingName{
  width: 25%;
}

.PlayerRankingSchool{
  width: 40%;
}

.PlayerRankingRanking{
  width: 20%;
}

.PlayerRanking {
  display: flex;
  border: 2px solid black;
  /* height: 30px; */
  /* margin-top: 5px; */
  padding: 5px;
  border: solid white;
  border-width: 1px;
  background-color: rgb(128, 0, 0);
  color: white;
}
