.SchoolRankingInfo{
  margin-right: 40px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
}

.SchoolRankingPlace{
  width: 15%;
}

.SchoolRankingName{
  width: 55%;
}

.SchoolRankingRanking{
  width: 20%;
}
