#ToResetPasswordButtonContainer{
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
  height: 30px;
  width: 200px;
  position: absolute;
  right: 10px;
  top: 255px;
}

#ToResetPasswordButton {
  display: inline-block;
  margin: 5px;
  color: lightgrey;
  /* text-decoration: underline; */
  cursor: pointer;
}
