#NewMatchForm {
  position: relative;
  width: 400px;
  height: 500px;
  top: calc(50% - 250px);
  left: calc(30% - 200px);
  border-radius: 10px;
  overflow: hidden;
  /* background-color: rgb(128,0,0); */


  /* height: 400px;
  width: 300px;
  border: 2px solid black;
  font-size: 25px;
  margin: auto;
  color:white;
  background-color: rgb(128,0,0);
  position: relative;
  top: calc(50%-100px);
  left: calc(50%-150px); */
}

.NewMatchLabel{
  margin: 30px auto;
  display: block;
  width: 250px;
  height: 40px;
  /* border: 2px solid black; */
  font-size: 15px;
  color: grey;
}

.NewMatchInput {
  margin: 5px auto;
  display: block;
  width: 250px;
  height: 30px;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid black;
  color: black;
}

#CreateNewMatchButton {
  margin: 100px auto;
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
}

#CreateNewMatchButton:hover {
  border: solid white 1px;
}

#NewMatchDescriptionContainer {
  height:80px;
  display: flex;
  text-align: center;
  font-size: 1.7em;
  align-items: center;
}

#NewMatchDescription {
  text-align: center;
  margin: auto;
}

.NewMatchInput::-webkit-input-placeholder{
    color:black;
}
