#NewMatchForm {
  position: relative;
  width: 400px;
  height: 500px;
  top: calc(50% - 250px);
  left: calc(30% - 200px);
  border-radius: 5px;
  overflow: hidden;
  /* background-color: rgb(128,0,0); */


  /* height: 400px;
  width: 300px;
  border: 2px solid black;
  font-size: 25px;
  margin: auto;
  color:white;
  background-color: rgb(128,0,0);
  position: relative;
  top: calc(50%-100px);
  left: calc(50%-150px); */
}

.NewMatchLabel{
  margin: 30px auto;
  display: block;
  width: 250px;
  height: 40px;
  /* border: 2px solid black; */
  font-size: 20px;
}

.NewMatchInput {
  margin: auto;
  display: block;
  width: 250px;
  height: 20px;
  font-size: 18px;
}

#CreateNewMatchButton {
  display: block;
  width: 80px;
  height: 30px;
  border-radius:6px;
  margin: 90px auto;
  cursor: pointer;
  font-size: 1.1em;
  /* border: 2px solid black; */
}

#NewMatchDescription {
  margin: 40px auto 60px;
  text-align: center;
  font-size: 1.7em;
}
