li {
  display: inline;
  padding: 60px;
  background-color: white;
  height: 20px;
  text-align: center;
}

a {
  display: inline-block;
  margin: 10px 30px;
}

#LogoutButton {
  color: black;
}

#nav {
  top: 0;
  margin-top: 0px;
  padding-top: 0px;
  height:5vh;
  background-color: white;
}


.mr-auto {
  margin: auto;
}

.Navbar {
  background-color: rgb(19,33,69);
}

.NavbarItem {
  color:white !important;
}
